@import "../sass/dropzone.scss";
@import "../sass/tom-select.scss";

html,
body,
body .page {
  height: 100%;
  margin: 0 !important;
}

/* increase the default tabler icon size*/
i.ti {
  font-size: 20px !important;
}

i.ti-sm {
  font-size: 16px !important;
}

i.ti-xs {
  font-size: 14px !important;
}

i.ti-xxs {
  font-size: 12px !important;
}

.form-select-sm {
  padding-right: 24px !important;
  background-position: right 4px center !important;
}
