@import "../sass/dropzone.scss";
@import "../sass/tom-select.scss";

html,
body,
body .page {
  height: 100%;
  margin: 0 !important;
}

/* increase the default tabler icon size*/
i.ti {
  font-size: 20px !important;
}

i.ti-sm {
  font-size: 16px !important;
}

i.ti-xs {
  font-size: 14px !important;
}

i.ti-xxs {
  font-size: 12px !important;
}

.form-select-sm {
  padding-right: 24px !important;
  background-position: right 4px center !important;
}

@media (min-width: 992px) {
  .topbar,
  .page-wrapper {
    margin-left: 15rem;
  }
}

.htmx-display-indicator {
  display: none;
}

.htmx-request .htmx-display-indicator,
.htmx-request.htmx-display-indicator {
  display: block;
}

.app-icon {
  width: 70px;
  aspect-ratio: 1;
  padding: 1rem;
  background-color: white;
  object-fit: cover;
  transform-origin: center bottom;
  transition: box-shadow ease-in 0.1s, transform ease-in 0.1s;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.02),
    0 2px 2px rgba(0, 0, 0, 0.02), 0 4px 4px rgba(0, 0, 0, 0.02),
    0 8px 8px rgba(0, 0, 0, 0.02), 0 16px 16px rgba(0, 0, 0, 0.02);
}

.app:hover .app-icon {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.03),
    0 4px 4px rgba(0, 0, 0, 0.03), 0 8px 8px rgba(0, 0, 0, 0.03),
    0 12px 12px rgba(0, 0, 0, 0.03), 0 24px 24px rgba(0, 0, 0, 0.03);
  transform: translateY(-2px);
}
